spring:
  datasource:
    url: jdbc:mysql://testdb.koudaibook.com:30006/mydb?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456
  jpa:
    show-sql: true
    database: MYSQL
    hibernate:
      ddl-auto: update
server:
  port: 8088
  servlet:
    context-path: /meeting-cms
simple:
  domainName: koudaibook.com
  email-service-endpoint: http://localhost:8088
  common:
    sentry-dsn: https://80bbf4ae778b525f9fe72e2813cd5246@sentry.io/1271087
management:
  endpoints:
    web:
      exposure:
        include: "*"
